 div{
	border: 1px solid black;
}

body {
	margin-bottom: 90px;
	background-color: #FCFCFC;
	font-family: 'Nunito Sans', sans-serif;

}

h1{
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 800;
	color: grey;
	/* font-size: 7em; */

}


li {
	display: inline;
	margin-left: 5px;

}

li a{
	color: grey;
	/* font-size: 1.1em; */
}

a:hover{
	color: #3ec0be;
}

p{
	font-family: 'Nunito Sans', sans-serif;
	/* font-size: 1.3em; */
	color:grey;
}

h2,h3,h4{
	font-family: 'Nunito Sans', sans-serif;
	color:grey;
}

h3, h2{
	font-weight: 800;
}

h2{
	/* font-size: 3em; */
}

/* PEOPLE */

.person1{
	background-color:rgba(245, 166, 35, 0.3);
	border: 3px solid #f5a623;
	border-radius: 50%;


}

.p1text{
	color: #f5a623;
}

.p1text h3,  .p1text h2, .p1text p, .p1text em{
	color: #f5a623;
}

.p1q{
	/* font-size: 1.4em; */
}


.person2{
	background-color:rgba(74, 144, 226, 0.3);
	border: 3px solid #4a90e2;
	border-radius: 50%;
}

.p2text h3, .p2text p, .p2text em {
	color: #4a90e2;
}


.person3{
	background-color:rgba(189, 16, 224, 0.3);
	border: 3px solid #BD10e0;
	border-radius: 50%;
}

.p3text h3, .p3text p, .p3text em{
	color: #BD10e0;
}

.person4{
	background-color:rgba(61, 196, 166, 0.3);
	border: 3px solid #3dc4a6;
	border-radius: 50%;
}

.p4text h3, .p4text p, .p4text em{
	color: #3dc4a6;
}

.chat{
	background-image: url(Jbub.svg);
	background-repeat: no-repeat;
	background-size: contain;
	height: 100%;
}

.chat p{
}

#twitterimg {
	height: 30px;
	width: 45px;
}
