 /* div{
	border: 1px solid black;
} */


/*
Font font-size
*/
html {
  font: normal 112.5% / 1.65 serif;
}

/* @media screen and (max-width: 45em) {
  p {
    font-size: 0.7em;
  }
	h1 {
		font-size: 2.5em;
	}
} */

body {
	margin-bottom: 0;
	background-color: #FCFCFC;
	/* font: 1rem/1.6  'Nunito Sans', sans-serif; */
	/* word-wrap: break-word; */
}

.blockquote {
	font-size: 1em;
}
h1, h1 a{
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 800;
	color: grey;
	font-size: 30px;

}


li {
	display: inline;
	margin-left: 5px;

}

li a{
	color: grey;
	/* font-size: 1.1em; */
}

a:hover{
	color: #3ec0be;
}

p {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 1em;
	color:grey;
}

h2,h3,h4, h5, h2 a{
	font-family: 'Nunito Sans', sans-serif;
	color:grey;
}

h3, h2, h4, h5{
	font-weight: 800;
}

h2 {
	/* font-size: 3em; */
}

/* PEOPLE */

.person1{
	background-color:rgba(245, 166, 35, 0.3);
	border: 3px solid #f5a623;
	border-radius: 50%;


}

.p1text{
	color: #f5a623;
}

.p1text h5, .p1text h4, .p1text h3,  .p1text h2, .p1text p, .p1text em{
	color: #f5a623;
}
.p1text-border, .p1text-border a{
	border-color: #f5a623;
	fill: #f5a623;
}

.p1q{
	/* font-size: 1.4em; */
}


.person2{
	background-color:rgba(74, 144, 226, 0.3);
	border: 3px solid #4a90e2;
	border-radius: 50%;
}

.p2text h5, .p2text h2, .p2text h4, .p2text h3, .p2text p, .p2text em {
	color: #4a90e2;
}
.p2text {
	color: #4a90e2;
}
.p2text-border, .p2text-border a{
	border-color: #4a90e2;
	fill: #4a90e2;

}

.person3{
	background-color:rgba(189, 16, 224, 0.3);
	border: 3px solid #BD10e0;
	border-radius: 50%;
}

.p3text h5, .p3text h2, .p3text h4, .p3text h3, .p3text p, .p3text em {
	color: #BD10e0;
}

.p3text {
	color: #BD10e0;
}

.bigger {
	font-size: 25px;
}

.p3text-border, .p3text-border a{
	border-color: #BD10e0;
	fill: #BD10e0;
}
.person4{
	background-color:rgba(61, 196, 166, 0.3);
	border: 3px solid #3dc4a6;
	border-radius: 50%;
}

.p4text h5, .p4text h2, .p4text h4, .p4text h3, .p4text p, .p4text em{
	color: #3dc4a6;
}
.p4text {
	color: #3dc4a6;
}
.p4text-border, .p4text-border a{
	border-color: #3dc4a6;
	fill: #3dc4a6;
}

.chat{
	background-image: url(require('./assets/img/Jbub.svg');
	background-repeat: no-repeat;
	background-size: contain;
	height: 100%;
}

.chat p{
}

#twitterimg {
	height: 30px;
	width: 45px;
}

.typl8-tera {
  font-size: 6.5em;
}

.typl8-giga {
  font-size: 5em;
}

.typl8-mega, h1 {
  font-size: 4em;
}

.typl8-alpha, h2 {
  font-size: 3.33333em;
}

.typl8-beta, h3 {
  font-size: 2.0em;
}

.typl8-gamma, h4 {
  font-size: 2em;
}

.typl8-delta, h5 {
  font-size: 1.33333em;
}

.typl8-epsilon {
  font-size: 1.16667em;
}

.typl8-zeta, h6 {
  font-size: 1em;
}

.hand-over {
  cursor: pointer;
}
.img-limit {
  max-height: 200px;
  width: 100%;
}

.btn-outline-custom {
    color: grey;
    background-color: transparent;
    background-image: none;
    border-color: grey;
}

.email {
  border-radius:3px;
  width: 220px;
}

a {
    text-decoration: none;
}
